<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/signup.css" />
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <title><%=title%></title>
  </head>
  <body>
     <main class="MainContainer">
        <div class="banner">
            <img src="./images/atlitude.jpg" alt="">
            <div class="bannerContent">
                <h1>Altitude Air</h1>
                <div class="line"></div>
                <p>
                    We Promise to ensure that your well-being is taken care of while
                    travelling with us. Boasting top in the class fleet inventory and a 5 star
                    approval for our in-flight experience, you know you're getting the
                    best from Altitude with no attitude.
                </p>
            </div>
        </div>
        <div class="formContainer">
            <div class="signbtn">
                <button class="SignInbutton">
                    SIGN IN
                </button>
            </div>
            <div class="form" >
                <h1>
                    Explore & Experience
                </h1>
                <p>
                    Get onto your most comfortable journey yet. All the way up
                </p>
                <form  id="signUpForm" action="/create-user" method="post">
                    <div class="row">
                        <div class="col">
                            <input type="text" name="firstname" placeholder="FirstName" />
                        </div>
                        <div class="col">
                            <input type="text" name="lastname" placeholder="LastName" />
                        </div>
                        <span name="name">Please enter your full name.</span>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" name="email" placeholder="Email" />
                        </div>
                        <span name="email">Please Enter a valid email Address.</span>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" name="username" placeholder="Username" />
                        </div>
                        <span name="username">Please Enter a valid username..</span>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="pass" type="password" name="password" placeholder="Password" />
                            <span accesAtr="pass" visible="on" class="material-symbols-outlined">
                                visibility
                                </span>
                                <span accesAtr="pass" visible="off" class="material-symbols-outlined"> visibility_off </span>
                        </div>
                        <span name="password">Please Enter a valid password..</span>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="confirmpass" type="password" name="confirmPassword" placeholder="Confirm Password" />
                            <span accesAtr="confirmpass"  visible="on" class="material-symbols-outlined">
                                visibility
                                </span>
                                <span accesAtr="confirmpass"  visible="off" class="material-symbols-outlined"> visibility_off </span>
                        </div>
                        <span name="confirmPassword">Passwords do not match. Please try again.</span>
                        <!-- <span name="confirmpassword">Passwords do not match. Please try again.</span> -->
                    </div>
                    <div class="row">
                        <p id="message"></p>
                        <div class="col">
                            <!-- <input type="submit" name="FirstName" value="GET STARTED" /> -->
                            <button id="submit" type="submit">
                                GET STARTED
                            </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
     </main>
     <script src="/js/signup.js"></script>
  </body>
</html>
