<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/signup.css" />
    <title><%=title%></title>
  </head>
  <body>
     <main class="MainContainer">
        <div class="banner">
            <img src="./images/atlitude.jpg" alt="">
            <div class="bannerContent">
                <h1>Altitude Air</h1>
                <div class="line"></div>
                <p>
                    We Promise to ensure that your well-being is taken care of while
                    travelling with us. Boasting top in the class fleet inventory and a 5 star
                    approval for our in-flight experience, you know you're getting the
                    best from Altitude with no attitude.
                </p>
            </div>
        </div>
        <div class="formContainer">
            <div class="signbtn">
                <button class="SignInbutton">
                    SIGN IN
                </button>
            </div>
            <div class="form">
                <h1>
                    Explore & Experience
                </h1>
                <p>
                    Get onto your most comfortable journey yet. All the way up
                </p>
                <form action="">
                    <div class="row">
                        <div class="col">
                            <input type="text" name="firstName" placeholder="FirstName" />
                        </div>
                        <div class="col">
                            <input type="text" name="lastName" placeholder="LastName" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="email" name="email" placeholder="Email" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" name="userName" placeholder="Username" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="password" name="FirstName" placeholder="Password" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="password" name="FirstName" placeholder="Confirm Password" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <!-- <input type="submit" name="FirstName" value="GET STARTED" /> -->
                            <button type="submit">
                                GET STARTED
                            </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
     </main>
  </body>
</html>
